{% extends 'layout.html' %}


{% block outRefer %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index/css/index.css')}}"/>
{% endblock %}


<!-- 头部 -->
{% block view_header %}
	<a href="">资讯系统</a>
{% endblock %}


<!-- 左边工具栏 -->
{% block view_leftNav %}

{% endblock %}


<!-- 主内容 -->
{% block view_main %}

{% endblock %}


<!-- 右边工具栏 -->
{% block view_rightNav %}

{% endblock %}


<!-- 底部 -->
{% block view_footer %}

{% endblock %}























































