{% extends 'layout.html' %}


{% block outRefer %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index/css/index.css')}}"/>
{% endblock %}


<!-- 头部 -->
{% block view_header %}
<div class="header">
	<a href="{{url_for('viewManager.toBackIndex')}}">后台管理</a>
</div>
{% endblock %}


<!-- 左边工具栏 -->
{% block view_leftNav %}
<div class="leftNav">
	
</div>
{% endblock %}


<!-- 主内容 -->
{% block view_main %}
<div class="main">
	
</div>
{% endblock %}


<!-- 右边工具栏 -->
{% block view_rightNav %}
<div class="rightNav">
	
</div>
{% endblock %}


<!-- 底部 -->
{% block view_footer %}
<div class="footer">
	
</div>
{% endblock %}























































