<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主页</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sys/css/sys.css')}}"/>
{% block outRefer %}{% endblock %}
</head>
<body>
	{% block view_header %}{% endblock %}
	{% block view_leftNav %}{% endblock %}
	{% block view_main %}{% endblock %}
	{% block view_rightNav %}{% endblock %}
	{% block view_footer %}{% endblock %}
</body>
</html>


















































