<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主页</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sys/css/sys.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='sys/js/jquery-2.0.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='sys/js/layout.js')}}"></script>
{% block outRefer %}{% endblock %}
</head>
<body scroll="no">
	{% block view_header %}{% endblock %}
	{% block view_main %}{% endblock %}
	{% block view_footer %}{% endblock %}
</body>
</html>


















































