.view_header{
	box-sizing:border-box;
	width:100%;
	height:45px;
	background:white;
	border:1px soild black;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.view_main{
	width:100%;
	display:fixed;
	fixed-direction:row;
}
.view_leftNav{
	box-sizing:border-box;
	width:4%;
	height:640px;
	position:relative;
	float:left;
	border:1px solid black;
	display:none;
}
.view_content{
	box-sizing:border-box;
	width:96%;
	height:640px;
	position:relative;
	float:left;
	border:1px solid black;
}
.view_rightNav{
	box-sizing:border-box;
	width:4%;
	height:640px;
	position:relative;
	float:left;
	border:1px solid black;
}
.view_footer{
	box-sizing:border-box;
	clear:both;
	width:100%;
	height:60px;
	border:1px solid black;
}
/********** 头部 **************************/
.logo{
	width:250px;
	height:45px;
}
.logo img{
	width:100%;
	height:100%;
}
.newsTip{
	width:220px;
	height:270px;
	position:fixed;
	z-index:100;
	border-radius:5px;
	border:1px solid white;
	bottom:5px;
	right:5px;
	background:#074DC6;
}














































