.header{
	width:100%;
	height:45px;
	background:red;
	border:1px soild black;
}
.leftNav{
	width:4%;
	height:640px;
	position:relative;
	float:left;
	border:1px solid black;
}
.main{
	width:90%;
	height:640px;
	position:relative;
	float:left;
	border:1px solid black;
}
.rightNav{
	width:4%;
	height:640px;
	position:relative;
	float:left;
	border:1px solid black;
}
.footer{
	clear:both;
	width:100%;
	height:60px;
	border:1px solid black;
}
/********** 头部 **************************/
.logo{
	width:350px;
	height:215px;
}
.logo img{
	width:100%;
	height:100%;
}
.newsTip{
	width:220px;
	height:270px;
	position:fixed;
	z-index:100;
	border-radius:5px;
	border:1px solid white;
	bottom:5px;
	right:5px;
	background:#074DC6;
}














































