{% extends 'layout.html' %}

{% block outRefer %}
<!-- 引入当前页面的css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='front/macroData/gdp/css/gdp.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='sys/js/jquery-2.0.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='sys/js/echarts.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='front/macroData/gdp/js/gdp.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='front/macroData/gdp/js/world.js')}}"></script>
{% endblock %}

<!-- 主内容 -->
{% block view_main %}
<!--  
<div>
	<input type="text" class="country"/>
	<button class="queryCountry">查询</button>
</div>
-->

<div id="world" style="width:80%;height:80%;border:1px solid black;"></div>




{% endblock %}






















































