{% extends 'layout.html' %}

{% block outRefer %}
<!-- 引入当前页面的css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='front/macroData/index/css/macroData.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='sys/js/jquery-2.0.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='sys/js/echarts.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='front/macroData/index/js/macroData.js')}}"></script>
{% endblock %}

<!-- 主内容 -->
{% block view_main %}
<!--  
<div>
	<input type="text" class="country"/>
	<button class="queryCountry">查询</button>
</div>
<div id="main" style="width: 800px;height:500px;"></div>
-->
<ul class="menu">
	<li class="li"><a href="{{url_for('viewManager.toGdp')}}">GDP数据</a></li>
	<li class="li">GDP数据</li>
	<li class="li">GDP数据</li>
	<li class="li">GDP数据</li>
	<li class="li">GDP数据</li>
</ul>	
	
	
	
{% endblock %}






















































