{% extends 'layout.html' %}

{% block outRefer %}
<!-- 引入当前页面的css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='front/index/css/index.css')}}"/>
<!-- 导入当前页的js -->
<script type="text/javascript" src="{{url_for('static', filename='front/index/js/index.js')}}"></script>
{% endblock %}





<!-- 主内容 -->
{% block view_main %}
	<a href="http://localhost:8001/macroData/gdps/countries">测试</a>
{% endblock %}






















































