*{
    margin:0px;
    padding:0px;
}
li{
	list-style-type:none;/*去除li前面的小圆点*/
}
.container{
    width:100%;
    height:560px;
    font-size:15px;
}
.containerTop{
    width:100%;
    height:70px;
    position: fixed;
    top:0;
    background:grey;
    z-index: 100;
}
.containerLeft{
    width:4%;
    height:900px;
    background:#ABFA85;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:70px;
    float:left;
}
.containerLeft li{
    width:100%;
    height:60px;
    border-bottom:1px solid grey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCls{
    width:70%;
    height:70%;
}
.imgCls img{
    width:100%;
    height:100%;
}
.containerRight{
    box-sizing: border-box;
    width:96%;
    height:1500px;
    position: relative;
    float:right;
    margin-top:70px;
    display: flex;
}
.frame{
    width:100%;
    height:1200px;
    background:rgb(56, 56, 56);
    border:none;
}
.firstMenu{
    width:150px;
    height:1000px;
    background:red;
    display:none;
}












