<html>
<head>
    <title>后台系统</title>
    <!-- 引入当前页的css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='back_index/css/back_index.css')}}"/>
    <!-- 引入jquery -->
    <script type="text/javascript" src="{{url_for('static', filename='sys/js/jquery-2.0.0.min.js')}}"></script>
	<!-- 导入当前页的js -->
    <script type="text/javascript" src="{{url_for('static', filename='back_index/js/back_index.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="containerTop">

        </div>
        
        <div class="containerLeft">
            <ul>
                <li class="li_1"><div class="imgCls"><img src="{{url_for('static', filename='back_index/img/data.png')}}"/></div></li>
                <li class="li_2"><div class="imgCls"><img src="{{url_for('static', filename='back_index/img/reposity.png')}}"/></div></li>
                <li class="li_3"><div class="imgCls"><img src="{{url_for('static', filename='back_index/img/setting.png')}}"/></div></li>
            </ul>
        </div>
        
        <div class="containerRight">
            <div class="firstMenu">
                <ul>
                    <li class="addMenu">添加菜单</li>
                </ul>
            </div>
            <iframe class="frame">


            </iframe>
        </div>
    </div>
</body>
</html>




















































