<html>
<head>
    <title>后台登录</title>
    <!-- 引入当前页的css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='back_login/css/back_login.css')}}"/>
    <!-- 引入jquery -->
    <script type="text/javascript" src="{{url_for('static', filename='sys/js/jquery-2.0.0.min.js')}}"></script>
	<!-- 导入当前页的js -->
    <script type="text/javascript" src="{{url_for('static', filename='back_login/js/back_login.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="loginPanel">
            <header>
                <div>金融检测系统</div>
                <div>金融检测系统</div>
            </header>
            <h1>{{voice}}</h1>
            <section>
                <table>
                    <tr>
                        <td class="info">用户名：</td>
                        <td><input type="text" name="username" placeholder="请输入你的用户名：" /></td>
                    </tr>
                    <tr>
                        <td class="info">密&nbsp;&nbsp;&nbsp;码：</td>
                        <td><input type="password" name="password" placeholder="请输入你的密码：" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="loginBtn"><a href="{{url_for('viewManager.toBackIndex')}}">登&nbsp;&nbsp;陆</a></div></td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</body>
</html>